In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("troop_movements.csv")
df.head()

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld
0,2024-07-11 11:49:05,1,resistance_soldier,empire,5,5,10,1,Alderaan
1,2024-07-11 11:49:04,2,at-st,resistance,7,6,4,8,Corellia
2,2024-07-11 11:49:03,3,at-at,resistance,4,4,6,3,Eriadu
3,2024-07-11 11:49:02,4,at-at,empire,10,1,8,7,Skako
4,2024-07-11 11:49:01,5,unknown,resistance,4,8,10,3,Iridonia

In [6]:
empire_resistance_count = df['empire_or_resistance'].value_counts()
print(empire_resistance_count)

empire_or_resistance
empire        507
resistance    493
Name: count, dtype: int64

In [7]:
count_homeworld = df['homeworld'].value_counts()
print(count_homeworld)

homeworld
Naboo           33
Aleen Minor     32
Tholoth         31
Chandrila       31
Skako           30
Dorin           30
Troiken         30
Umbara          30
Eriadu          29
Ryloth          28
Vulpter         28
Dagobah         27
Kashyyyk        27
Dathomir        26
Muunilinst      25
Kalee           25
Shili           25
Champala        25
Quermia         25
Alderaan        24
Rodia           23
Toydaria        23
Haruun Kal      23
Iktotch         23
Ojom            23
Mon Cala        23
Tund            23
Zolan           22
Malastare       21
Mirial          21
Iridonia        21
Concord Dawn    20
Tatooine        19
Glee Anselm     19
Stewjon         19
Socorro         18
Bestine IV      17
Corellia        17
Sullust         17
Cerea           17
Serenno         16
Trandosha       14
Name: count, dtype: int64

In [8]:
count_unit_type = df['unit_type'].value_counts()
print(count_unit_type)

unit_type
tie_fighter           134
at-st                 131
unknown               131
stormtrooper          127
x-wing                122
resistance_soldier    120
tie_silencer          120
at-at                 115
Name: count, dtype: int64